
body {
    width:1024px;
    margin:0px auto;
    background-color:#fff;
}

.review-fulfilment-details-container .row {
    text-align:center;
    margin: 0;
}

.review-fulfilment-details-container .span4 {
    padding: 20px 0 10px;
    text-align: left;
    width: 320px;
}

.review-cart-container {
     margin: 10px 0 0 0;
     padding: 0 0 0 20px;
 }

.review-cart-items {
    padding: 20px 0 0 0;
}

.review-cart-container .span9 {
    width:680px;
}

.cart-item-img {
    float: left;
    height: 150px;
    padding: 0 20px;
    width: 150px;
}

.cart-item-label, .billing-address-text{
    color: #4F8AC3;
    display: inline-block;
    font-family: 'Sintony',sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 0 0 5px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
}

.billing-address-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

.review-cart-header, review-pricing {
    color: rgba(44, 44, 44, 0.94);
    float: left;
    font-family: 'Sintony',sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0 0 10px;
}

.review-pricing .review-pricing-text {
    display: inline-block;
    font-size: 26px;
    padding: 15px 0 0 20px;
}

.separator {
    background: linear-gradient(135deg, #F9F9F9 0%, #EAEBEE 21%, #D5D6DD 49%, #EAEBEE 80%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    display: inline-block;
    height: 2px;
    width: 100%;
}

.credit-card, .shipping-method {
    border: 2px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    color: #9F9F9F;
    display: inline-block;
    font-family: 'Sintony',sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    width: 250px;
}

.confirm-order-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
    box-shadow:inset 0px 1px 0px 0px #fceaca;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
    background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
    background-color:#ffce79;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    padding:10px 50px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ce8e28;
}.confirm-order-button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
     background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
     background-color:#eeaf41;
 }.confirm-order-button:active {
      position:relative;
      top:1px;
  }

.review-pricing .row {
    padding-top: 15px;
}

.billing-header-text, .shipping-header-text, .delivery-date-text {
    color: #999999;
    float: left;
    font-family: 'Sintony',sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 10px;
    width: 300px;
}

.shipping-header-text span {
    color: #4F8AC3;
    font-family: 'Sintony',sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.address-label {
    display: block;
    padding: 15px 0 0;
}

