<section class="product-finder-filter-selectors">
    <div class="product-finder-filter-img">
        <div class="finder"><div class="spark"></div><div class="text"><b>TV</b>Finder</div></div>
    </div>
    <section class="product-finder-filter-slider">
        <div id="range-value1" class="bubble">19"</div>
        <div id="range-value2" class="bubble">73"</div>
        <div id="slider-range"></div>
    </section>
</section>
<section class="product-finder-filter-break" >
    <h2></h2>
</section>
<section class="product-finder-filter-results">
    <div class="product-finder-filter-msg">
        <span class="item-counter"></span> matches for televisions fitting that criteria
    </div>
    <input type="button" value="Clear Filters " class="product-finder-filter-clear-btn">
</section>