<div class="review-pricing">
    <div class="row" >
        <div class="span9">
            <span class="review-pricing-text">
                Review your order
            </span>
        </div>
        <div class="span4">
            <div class="confirm-order-button">
                <a class="" href="#">Confirm Order</a>
            </div>
        </div>
    </div>
</div>